.TabelaProdutos table {
    width: 100%; /* largura completa do card */
}

.TabelaProdutos th {
    background-color: darkcyan;
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}